# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
*.iml

# Python
/python-analyzer/venv/
__pycache__/
*.pyc

# Spring Boot
/spring-backend/src/main/resources/application.yml

# OS
.DS_Store
Thumbs.db
